appdirs==1.4.3
dj-database-url==0.4.1
Django==2.2.24
django-slack==5.13.0
django-crispy-forms==1.6.1
django-mptt==0.8.7
gunicorn==19.6.0
Markdown==2.6.8
packaging==16.8
psycopg2==2.7.4
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
whitenoise==3.2
